<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate [formGroup]="editForm">
      <h2
        id="jhi-decision-log-heading"
        data-cy="DecisionLogCreateUpdateHeading"
        jhiTranslate="healthappApp.decisionLog.home.createOrEditLabel"
      >
        Vizualizare Decision Log (generat automat de sistem)
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="healthappApp.decisionLog.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_timestamp" jhiTranslate="healthappApp.decisionLog.timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
              readonly
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_actorType" jhiTranslate="healthappApp.decisionLog.actorType">Actor Type</label>
          <select
            class="form-control"
            name="actorType"
            formControlName="actorType"
            id="field_actorType"
            data-cy="actorType"
            [attr.disabled]="true"
          >
            <option [ngValue]="null">{{ 'healthappApp.ActorType.null' | translate }}</option>
            @for (actorType of actorTypeValues; track $index) {
              <option [value]="actorType">{{ 'healthappApp.ActorType.' + actorType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_recomandare" jhiTranslate="healthappApp.decisionLog.recomandare">Recomandare</label>
          <input
            type="text"
            class="form-control"
            name="recomandare"
            id="field_recomandare"
            data-cy="recomandare"
            formControlName="recomandare"
            readonly
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modelScore" jhiTranslate="healthappApp.decisionLog.modelScore">Model Score</label>
          <input
            type="number"
            class="form-control"
            name="modelScore"
            id="field_modelScore"
            data-cy="modelScore"
            formControlName="modelScore"
            readonly
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_reguliTriggered" jhiTranslate="healthappApp.decisionLog.reguliTriggered"
            >Reguli Triggered</label
          >
          <input
            type="text"
            class="form-control"
            name="reguliTriggered"
            id="field_reguliTriggered"
            data-cy="reguliTriggered"
            formControlName="reguliTriggered"
            readonly
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_externalChecks" jhiTranslate="healthappApp.decisionLog.externalChecks"
            >External Checks</label
          >
          <input
            type="text"
            class="form-control"
            name="externalChecks"
            id="field_externalChecks"
            data-cy="externalChecks"
            formControlName="externalChecks"
            readonly
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_alocare" jhiTranslate="healthappApp.decisionLog.alocare">Alocare</label>
          <select
            class="form-control"
            id="field_alocare"
            data-cy="alocare"
            name="alocare"
            formControlName="alocare"
            [compareWith]="compareAlocareTratament"
            [attr.disabled]="true"
          >
            <option [ngValue]="null"></option>
            @for (alocareTratamentOption of alocareTratamentsSharedCollection; track $index) {
              <option [ngValue]="alocareTratamentOption">
                {{ alocareTratamentOption.id }} – {{ alocareTratamentOption.medicament?.denumire }}
              </option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Înapoi</span>
        </button>
      </div>
    </form>
  </div>
</div>
