@if (monitorizare) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(monitorizare.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="monitorizareDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Confirmați operația de ștergere
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p
        id="jhi-delete-monitorizare-heading"
        jhiTranslate="healthappApp.monitorizare.delete.question"
        [translateValues]="{ id: monitorizare.id }"
      >
        Sunteți sigur că doriți să ștergeți Monitorizare {{ monitorizare.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Anulare</span>
      </button>

      <button id="jhi-confirm-delete-monitorizare" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Ștergere</span>
      </button>
    </div>
  </form>
}
