<div class="d-flex justify-content-center">
  <div class="col-8 form-friendly">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-studii-literatura-heading"
        data-cy="StudiiLiteraturaCreateUpdateHeading"
        jhiTranslate="healthappApp.studiiLiteratura.home.createOrEditLabel"
      >
        Creeare sau editare Studii Literatura
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="healthappApp.studiiLiteratura.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let titluRef = editForm.get('titlu')!;
        <div class="mb-3">
          <label class="form-label" for="field_titlu" jhiTranslate="healthappApp.studiiLiteratura.titlu">Titlu</label>
          <input type="text" class="form-control" name="titlu" id="field_titlu" data-cy="titlu" formControlName="titlu" />
          @if (titluRef.invalid && (titluRef.dirty || titluRef.touched)) {
            <div>
              @if (editForm.get('titlu')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Acest câmp este necesar.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_autori" jhiTranslate="healthappApp.studiiLiteratura.autori">Autori</label>
          <input type="text" class="form-control" name="autori" id="field_autori" data-cy="autori" formControlName="autori" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_anul" jhiTranslate="healthappApp.studiiLiteratura.anul">Anul</label>
          <input type="number" class="form-control" name="anul" id="field_anul" data-cy="anul" formControlName="anul" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tipStudiu" jhiTranslate="healthappApp.studiiLiteratura.tipStudiu">Tip Studiu</label>
          <input type="text" class="form-control" name="tipStudiu" id="field_tipStudiu" data-cy="tipStudiu" formControlName="tipStudiu" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_substanta" jhiTranslate="healthappApp.studiiLiteratura.substanta">Substanta</label>
          <input type="text" class="form-control" name="substanta" id="field_substanta" data-cy="substanta" formControlName="substanta" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_concluzie" jhiTranslate="healthappApp.studiiLiteratura.concluzie">Concluzie</label>
          <input type="text" class="form-control" name="concluzie" id="field_concluzie" data-cy="concluzie" formControlName="concluzie" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_link" jhiTranslate="healthappApp.studiiLiteratura.link">Link</label>
          <input type="text" class="form-control" name="link" id="field_link" data-cy="link" formControlName="link" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_medicament" jhiTranslate="healthappApp.studiiLiteratura.medicament">Medicament</label>
          <select
            class="form-control"
            id="field_medicament"
            data-cy="medicament"
            name="medicament"
            formControlName="medicament"
            [compareWith]="compareMedicament"
          >
            <option [ngValue]="null"></option>
            @for (medicamentOption of medicamentsSharedCollection; track $index) {
              <option [ngValue]="medicamentOption">{{ medicamentOption.denumire }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Anulare</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvare</span>
        </button>
      </div>
    </form>
  </div>
</div>
